{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Detalhes do Funcionário</h1>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ employee.first_name }} {{ employee.last_name }}</h5>
            <p class="card-text"><strong>E-mail:</strong> {{ employee.email }}</p>
            <p class="card-text"><strong>Departamento:</strong> {{ employee.department }}</p>
            <p class="card-text"><strong>Data de Contratação:</strong> {{ employee.hire_date }}</p>
            <h4>QR Code do Funcionário</h4>
            <img src="{{ employee.generate_qr_code }}" alt="QR Code">
        </div>
    </div>
    
    <div class="mt-3">
        <a href="{% url 'employee_list' %}" class="btn btn-secondary">Voltar</a>
        <a href="{% url 'employee_update' employee.pk %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'employee_delete' employee.pk %}" class="btn btn-danger">Deletar</a>
    </div>
</div>
{% endblock %}